/* 
	Pebble Codes
	Author: Mark Stone
	Date: 3/18/2020
	Style: Main
*/

/* Body Styles */
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@font-face {
	font-family: "Unispace";
	src: url(https://pebblecodes.com/css/fonts/Unispace/unispace.woff)format("woff");
	src: url(https://pebblecodes.com/css/fonts/Unispace/unispace.woff2)format("woff2");
}

body {
	background-color: #f3f3f3;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: 0px;
	font-family: 'Montserrat', sans-serif; 
}

body section p {
	padding-left: 1em;
	font-size: 22.5px;
}

body h1 {
	text-align: center;
	font-size: 40px;
	letter-spacing: 4px;
}

hr {
	clear: left;
	margin: 8px;
	border-width: 1px;
}

/* Header Styles */

.hero-nav {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	height: 700px;
	min-height: 75px;
	background-image: url(https://pebblecodes.com/images/seattle.jpg);
	background-size: cover;
	background-position: center;
	overflow: hidden;
	box-shadow: 0px 2px 2px rgb(41, 41, 41);
  }
  .hero-nav .hero-nav__inner {
	background-color: rgba(26, 54, 82, 0.01);
	padding-top: 3.5vw;
	z-index: 1;
	width: 100%;
	letter-spacing: 2.5px;
	
  }
  .hero-nav h1 {
	color: #efefef;
	font-size: 5vw;
  }

  .logo {
	  text-align: center;
	  margin-top:0px;
	  float: left;
	  line-height: 75px;
	  padding-left:50px;
  }

  .navbar {
	line-height: 75px;
	line-height: 3.5em;
	margin: auto;
	list-style-type: none;
	text-align: center;
  }


  .hero-nav a {
	font-size: 2.25vw;
	list-style-type: none;
	height : 100%;
	max-height: 75px;
	min-height: 75px;
	display: inline-block;
	font-family: 'Unispace';
	color: rgb(255, 255, 255);
	text-decoration: none;
	display: inline-block;
	padding-right: 1vw;
	padding-left: 1vw;
  }

  .hero-nav a:hover {
	color: rgb(26, 54, 82);
	background-color: rgb(255, 255, 255)
  }

  .hero-nav:before {
	content: "";
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: background 400ms;
	transition: background 400ms;
  }
  .hero-nav.fixme:before {
	background: rgba(26, 54, 82, 0.8);
  }
  
  .page-content {
	width: 30em;
	margin: 0 auto;
	line-height: 1.625;
  }
  .page-content a {
	  text-decoration: underline;
	  color:black;
  }
  .page-content a:hover {
	  text-decoration: none;
  }
  .page-content h3 {
	padding: 0;
	margin: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
  }
  .page-content img {
	  text-align: center;
	  width: 70%;
	  height: auto;
	  margin: auto;
	  margin-left: auto;
	  margin-right: auto;
  }



/* Footer Styles */

footer {
	position: left;
 	clear: both;
 	color: gray;
 	text-align:center;
 	height: 20px;	
 	line-height: 50px;
	font-size: 80%;
 	margin-left:-100%;
	margin-right:-100%;
	font-weight: bold;
} 

footer a {
	color: gray;
	text-decoration: none;
	font-weight: bold;
}

footer a:hover {
	text-decoration: underline;
}

/* Mobile-specific styles */
@media only screen and (max-device-width: 480px) { 

	html {
		-webkit-text-size-adjust: none;
		}

	.hero-nav .hero-nav__inner {
		padding-top: 3.75vw;	
	}
	.page-content {
		width: auto;
		padding-left: 15px;
		padding-right: 15px;
		margin: 0 auto;
		line-height: 1.625;
		font-size: 28px;	
		}

	.hero-nav ul {
			background-color: rgba(26, 54, 82, 0.01);
			line-height: 3.5em;
			margin: auto;
			list-style-type: none;
			text-align: center;
	}
		
	.hero-nav ul li:hover {
			color: rgba(255, 255, 255, 0.1);
			background-color: rgba(255, 255, 255, 0.1);
	}
		
	.hero-nav ul li {
		font-size: 2.25vw;
		list-style-type: none;
		height : 100%;
		max-height: 75px;
		min-height: 75px;
		display: inline-block;
	  }

	.hero-nav ul li a {
			font-family: 'Unispace';
			color: rgba(255, 255, 255, 1);
			text-decoration: none;
			display: inline-table;
			padding-top: 1.2vw;
			text-align: center;
	}
		
	.logo {
		text-align: center;
		margin-top:0px;
		float: left;
		line-height: 75px;
		padding-left:50px;
		width: 100%;
		max-width: 145px;
	}

	.hero-nav .navbar {
		display: none;
	}

	.hero-nav a.icon {
		background: black;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
	}

	.hero-nav a:hover {
		color: rgb(26, 54, 82);
		background-color: rgb(255, 255, 255);
	}

	.hero-nav {
		position: relative;
		overflow: hidden;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
			-ms-flex-pack: center;
				justify-content: center;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
		height: 300px;
		min-height: 150px;
		background-image: url(https://pebblecodes.com/images/seattle.jpg);
		background-size: cover;
		background-position: center;
		overflow: hidden;
		box-shadow: 0px 2px 2px rgb(41, 41, 41);
	  }
	  footer {
		position: left;
		clear: both;
		color: gray;
		text-align:center;
		height: 30px;	
		line-height: 50px;
		font-size: 20px;
		margin-left:-100%;
		margin-right:-100%;
		font-weight: bold;
	} 
	
	footer a {
		color: gray;
		text-decoration: none;
		font-weight: bold;
	}
	
	footer a:hover {
		text-decoration: underline;
	}

	.page-content img {
		width: 80%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
