/* 
	Pebble Codes
	Author: Mark Stone
	Date: 3/18/2020
	Style: Main
*/

/* Body Styles */
@import url(https://fonts.googleapis.com/css?family=Montserrat);

@media handheld {

body {
	background-color: #f3f3f3;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: 0px;
	font-family: 'Montserrat', sans-serif; 
}

body section p {
	padding-left: 1em;
	font-size: 50px;
}

body h1 {
	text-align: center;
	font-size: 40px;
	letter-spacing: 4px;
}

hr {
	clear: left;
	margin: 8px;
	border-width: 1px;
}

/* Header Styles */

.hero-nav {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	height: 400px;
	min-height: 150px;
	background-image: url(https://pebblecodes.com/images/seattle.jpg);
	background-size: cover;
	background-position: center;
	overflow: hidden;
	box-shadow: 0px 2px 2px rgb(41, 41, 41);
  }
  .hero-nav .hero-nav__inner {
	z-index: 1;
  }
  .hero-nav h1 {
	color: #efefef;
	font-size: 5vw;
  }
  .hero-nav:before {
	content: "";
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: background 400ms;
	transition: background 400ms;
  }
  .hero-nav.fixme:before {
	background: rgba(26, 54, 82, 0.8);
  }
  
  .page-content {
	width: 100em;
	margin: 0 auto;
    line-height: 1.625;
    font-size: 50px;
  }
  
  
/* Navigation Styles */

nav ul {
	background-color: rgba(26, 54, 82, 0.01);
	
	line-height: 3.5em;
	margin: auto;
	list-style-type: none;
	text-align: center;
	letter-spacing: 5px;
}

nav ul li:hover {
	color: rgba(255, 255, 255, 0.1);
	background-color: rgba(255, 255, 255, 0.1);
}

nav ul li a {
	color: rgba(255, 255, 255, 0.75);
	text-decoration: none;
	display: inline-block;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 20px;
    padding-left: 20px;
}

#navlist li {
	list-style-type: none;
	display: inline-block;
	font-size: 60px;
	font-style: bold;
}

/* Intro Styles 

#intro {
	width: 60%;
	background-color: rgba(220, 220, 220, 0.25);
	box-shadow: 0px 3px 0px rgb(215, 215, 215);
	padding-top: 1.5px;
	padding-bottom: 0.5px;
	margin: 10px 10px 10px;
	float: left;
	text-align: center;
}

#intro h2 {
	text-align: center;
	font-size: 30px;
}

#intro p {
	padding-left: 5em;
	padding-right: 5em;
	text-align: justify;
}

#intro img {
	text-align: center;
	box-shadow: 3px 3px 3px rgb(200, 200, 200);
	border-style: solid;
	border-width: 1px;
}

#intro a {
	color: rgb(0, 0, 0);
	font-weight: bold;
	text-decoration: none;

}

#intro a:hover {
	text-decoration: underline;
}

#intro #name {
	text-align: right;
	font-style: italic;
}

/* Links Styles */

#links {
	width: 33%;
	float: left;
	margin: 10px 10px 10px;
	background-color: rgba(220, 220, 220, 0.25);
	box-shadow: 0px 3px 0px rgb(215, 215, 215);
	
}

#links h2 {
	text-align: center;
	color: rgb(255, 255, 255);
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(46, 92, 184, 0.95);
	box-shadow: 0px 6.5px 0px rgb(40, 84, 164);
}

#links p {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	letter-spacing: 1px;
}

#links p a {
	text-decoration: none;
	color: black;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

#links p a:hover {
	font-weight: bold;
	
}

/* Footer Styles */

footer {
	clear: right;
	width: 100%;
	padding-top: 25px;
} 

footer a {
	color: gray;
	text-align: center;
	font-size: 8px;
	padding-right: 0.5em;
	text-decoration: none;
	padding-bottom: 1em;
	padding-left: 1em;
	font-weight: bold;
}

footer a:hover {
	text-decoration: underline;
}

footer address {
	background-color: rgb(46, 92, 184);
	box-shadow: 0px -2px 1px rgb(40, 84, 164);
	color: rgb(255, 255, 255);
	font-size: 80%;
	font-style: normal;
	padding-top: 6px;
	padding-bottom: 12px;
	text-align: center;
	clear: left;
}

}