/* 
	Pebble Codes
	Author: Mark Stone
	Date: 3/18/2020
	Style: Main
*/

/* Body Styles */

body {
	background-color: #f3f3f3;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: 0px;
}

body section p {
	padding-left: 1em;
	font-size: 22.5px;
}

body h1 {
	text-align: center;
	font-size: 40px;
	letter-spacing: 4px;
}

hr {
	clear: left;
	margin: 8px;
	border-width: 1px;
}

/* Header Styles */

header {
	display: block;
	text-align: center;
	border-bottom: 1.75px solid #333333;
    	background: url("images/seattle.jpg");
	background-repeat: no-repeat;
	padding-top: 3em;
	padding-right: 1em;
	background-position: center;

}

/* Navigation Styles */

nav ul {
	background-color: rgb(25, 51, 77);
	box-shadow: 0px 2px 2px rgb(25, 51, 77);
	line-height: 3.5em;
	margin: auto;
	list-style-type: none;
	text-align: center;
	letter-spacing: 1px;
}

nav ul li:hover {
	color: rgba(13, 26, 38, 0.4);
	background-color: rgb(13, 26, 38);
}

nav ul li a {
	color: rgba(255, 255, 255, 0.75);
	text-decoration: none;
	display: inline-block;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 20px;
	padding-left: 20px;
}

#navlist li {
	list-style-type: none;
	display: inline-block;
	font-size: 20px;
}

/* Intro Styles */

#intro {
	width: 60%;
	background-color: rgba(220, 220, 220, 0.25);
	box-shadow: 0px 3px 0px rgb(215, 215, 215);
	padding-top: 1.5px;
	padding-bottom: 0.5px;
	margin: 10px 10px 10px;
	float: left;
	text-align: center;
}

#intro h2 {
	text-align: center;
	font-size: 30px;
}

#intro p {
	padding-left: 5em;
	padding-right: 5em;
	text-align: justify;
}

#intro img {
	text-align: center;
	box-shadow: 3px 3px 3px rgb(200, 200, 200);
	border-style: solid;
	border-width: 1px;
}

#intro a {
	color: rgb(0, 0, 0);
	font-weight: bold;
	text-decoration: none;

}

#intro a:hover {
	text-decoration: underline;
}

#intro #name {
	text-align: right;
	font-style: italic;
}

/* Links Styles */

#links {
	width: 33%;
	float: left;
	margin: 10px 10px 10px;
	background-color: rgba(220, 220, 220, 0.25);
	box-shadow: 0px 3px 0px rgb(215, 215, 215);
	
}

#links h2 {
	text-align: center;
	color: rgb(255, 255, 255);
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(46, 92, 184, 0.95);
	box-shadow: 0px 6.5px 0px rgb(40, 84, 164);
}

#links p {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	letter-spacing: 1px;
}

#links p a {
	text-decoration: none;
	color: black;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

#links p a:hover {
	font-weight: bold;
	
}

/* Footer Styles */

footer {
	clear: right;
	width: 100%;
	padding-top: 25px;
} 

footer a {
	color: gray;
	text-align: center;
	font-size: 8px;
	padding-right: 0.5em;
	text-decoration: none;
	padding-bottom: 1em;
	padding-left: 1em;
	font-weight: bold;
}

footer a:hover {
	text-decoration: underline;
}

footer address {
	background-color: rgb(46, 92, 184);
	box-shadow: 0px -2px 1px rgb(40, 84, 164);
	color: rgb(255, 255, 255);
	font-size: 80%;
	font-style: normal;
	padding-top: 6px;
	padding-bottom: 12px;
	text-align: center;
	clear: left;
}

