<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pebble Codes</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,700" rel="stylesheet">

  <script src="https://use.fontawesome.com/5ac0a3ae64.js"></script>

  <link rel="shortcut icon" href="https://pebblecodes.com/images/pebblecodes-icon3.png" type="image/x-icon"/>

  <link rel="stylesheet" href="https://pebblecodes.com/css/style.css">

</head>

<body>

    <div class="wrapper">
        <nav class="site-nav">
          <h1 class="logo"><a id="logo" href="https://pebblecodes.com"><img src="https://pebblecodes.com/images/pebblecodes-text.png" alt="PebbleCodes"/></a></h1>
          <h1 style="padding-right:45%; text-align:center; color:white">Party Mode</h2>
        </nav>
    </div>

    <section id="main">
      <form method="POST">
        <p>Password</p>
        <input type="password" name="p">
        <p>Activate Party Mode</p>
        <input type="checkbox" name="activate">
        <p>Choose Your Colors:</p>
        <input type="color" name="first">
        <input type="color" name="second">
        <input type="color" name="third">
        <input type="color" name="fourth">
        <p></p>
        <input type="submit">
      </form>
      </section>


<script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>

    <script src="https://pebblecodes.com/js/index.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
<footer class="footer-distributed-contact">
  <div class="footer-right">
    <a href="https://instagram.com/pebblebrz" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="https://github.com/Marker0829" target="_blank"><i class="fa fa-github"></i></a>
    <a href="mailto:mark@pebblecodes.com"><i class="fa fa-at"></i></a>
    <a href="https://www.linkedin.com/in/mark-stone-9ab0591a8" target="_blank"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-left">
      <p class="footer-links">
          <a class="link-1" href="https://pebblecodes.com/">Home</a>
          <a href="https://pebblecodes.com/projects">Projects</a>
          <a href="https://pebblecodes.com/photos">Photography</a>
          <a href="https://pebblecodes.com/contact">Contact Me</a>
      </p>
      <p>Pebble Codes &copy; 2020</p>
  </div>
</footer>
</html>
